ul {
  margin: 0 50px;
  padding: 0;
}
li {
  list-style: none;
  text-align: left;
  margin-left: -80px;
  color: #feffdf;
}
#place {
  text-align: center;
  border: 1px solid white;
  border-radius: 15px;
  color: #dde0ab;
  font-family: "Gravitas One", cursive;
}
.app {
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  background: #668ba4;
  font-family: "Rammetto One", cursive;
  margin: 50px 10px;
}
.row {
  color: white;
  text-align: center;
  padding: 30px 100px;
}

#temperature {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-left: -5px;
  position: relative;
  top: 60px;
  margin-top: 1px;
  margin-bottom: 30px;
}

#date-now {
  color: #feffdf;
  text-align: center;
  opacity: 50%;
}
.linkStyle {
  color: rgb(251, 203, 251);
  font-weight: bold;
  text-decoration-line: none;
  margin: 30px auto;
}
#icon {
  width: 200px;
}
.btn btn-success w-100 {
  color: white;
}
#celsius-link {
  cursor: default;
  text-decoration: none;
  color: white;
  position: relative;
  top: -46px;
  left: 90px;
}

.weather-forecast-min {
  opacity: 0.5;
}
section {
  margin-left: auto;
}
