@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@100&display=swap");

ul {
  margin: 0 50px;
  padding: 0;
  font-family: "Lora", serif;
}
li {
  text-align: left;
  list-style: none;
}
.app {
  text-align: center;
  border: 2px solid grey;
  font-family: "Lora", serif;
}
.row {
  color: brown;
  text-align: center;
  padding: 30px 100px;
}

#temperature {
  color: blue;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  margin-right: 200px;
  position: relative;
  top: 60px;
  margin-top: 1px;
}
.symbolTemp {
  display: block;
  color: blue;
  font-size: 40px;
  font-weight: bold;
  text-align: right;
  margin-right: 150px;
  position: relative;
  top: -10px;
  margin-top: 0;
}
h1 {
  text-decoration: underline;
  text-align: center;
  margin-left: 40px;
  font-family: "Lora", serif;
}

.days {
  font-size: larger;
  color: black;
  font-weight: bold;
  padding: 10px 70px;
  margin-left: 30px;
}
i {
  color: #fdd14f;
  font-size: 50px;
}
#date-now {
  color: pink;
  text-align: center;
}
.linkStyle {
  color: violet;
  font-weight: bold;
  text-decoration-line: none;
  padding-left: 600px;
}
