body {
  background-color: rgb(201, 242, 139);
}
ul {
  margin: 0 50px;
  padding: 0;
}
li {
  list-style: none;
  text-align: left;
  margin-left: -80px;
  color: #40a8c4;
}
#place {
  text-align: center;
  background: #f5e1da;
  color: #235784;
}
.app {
  text-align: center;
  border: 2px solid grey;
}
.row {
  color: #79d1c3;
  text-align: center;
  padding: 30px 100px;
}

#temperature {
  color: #f7aa00;
  font-size: 50px;
  font-weight: bold;
  margin-left: 0px;
  position: relative;
  top: 60px;
  margin-top: 1px;
  margin-bottom: 30px;
}
.units {
  display: block;
  color: #fec750;
  font-size: 15px;
  font-weight: bold;
  margin-left: 70px;
  position: relative;
  top: -30px;
  margin-top: 0;
}

#date-now {
  color: rgb(254, 144, 162);
  text-align: center;
}
.linkStyle {
  color: violet;
  font-weight: bold;
  text-decoration-line: none;
  margin: 30px auto;
}
#icon {
  width: 200px;
}
.btn btn-success w-100 {
  color: black;
}
.active {
  cursor: default;
}
.active :hover {
  text-decoration: none;
}
